.main-button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  padding: 0 5rem;
  height: 4rem;
  line-height: inherit;
  border-radius: 4rem;
  background: $pink;
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  margin: 1rem 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $dark-pink;
  }
}

.nav-button {
  text-decoration: none;
  color: $pink;
  border: 1px solid $pink;
  font-size: 12px;
  height: 2rem;
  line-height: inherit;
  border-radius: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  text-transform: capitalize;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: all 0.4s ease-in-out;
  &:hover {
    background: $pink;
    color: white;
  }
}
