nav {
  width: 90%;
  margin: 2rem auto 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    object-fit: contain;
  }

  @include tablet-land {
    margin-bottom: 13rem;
  }

  @include tablet-port {
    margin-bottom: 13rem;
  }

  @include mobile-land {
    margin-bottom: 6rem;
    img {
      height: 2rem;
    }
  }

  @include mobile-port {
    margin-bottom: 9rem;
    img {
      height: 1.2rem;
    }
  }
}

