@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: 400;
  color: #00252e; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Helvetica", "sans-serif";
  font-weight: 700; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  padding: 0 5rem;
  height: 4rem;
  line-height: inherit;
  border-radius: 4rem;
  background: #ff52bf;
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  margin: 1rem 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; }
  .main-button:hover {
    background: #ee2ba6; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .main-button {
      padding: 0 3rem;
      height: 3rem; } }

.nav-button {
  text-decoration: none;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  font-size: 12px;
  height: 2rem;
  line-height: inherit;
  border-radius: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  text-transform: capitalize;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out; }
  .nav-button:hover {
    background: #ff52bf;
    color: white; }

nav {
  width: 90%;
  margin: 2rem auto 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav img {
    object-fit: contain; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    nav {
      margin-bottom: 13rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    nav {
      margin-bottom: 13rem; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    nav {
      margin-bottom: 6rem; }
      nav img {
        height: 2rem; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    nav {
      margin-bottom: 9rem; }
      nav img {
        height: 1.2rem; } }

form input[type='email'] {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  width: 20rem; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    form input[type='email'] {
      height: 3rem;
      margin: 0 0 1rem;
      width: inherit; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    form input[type='email'] {
      width: -webkit-fill-available;
      margin: 0 0 1rem;
      height: 3rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    form input[type='email'] {
      width: -webkit-fill-available;
      margin: 0 0 1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    form input[type='email'] {
      margin: 0 0 1rem; } }
form input[type="submit"] {
  background: #ff52bf;
  color: white;
  border: none;
  height: 2.5rem;
  padding: 0 2rem;
  line-height: 2.5rem;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  form input[type="submit"]:hover {
    background: #ee2ba6; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    form input[type="submit"] {
      height: 3rem;
      align-self: flex-end; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    form input[type="submit"] {
      height: 3rem;
      align-self: flex-end; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    form input[type="submit"] {
      align-self: flex-end; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    form input[type="submit"] {
      align-self: flex-end; } }
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  form {
    width: 100%;
    display: flex;
    flex-direction: column; } }
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  form {
    display: flex;
    flex-direction: column; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  form {
    display: flex;
    flex-direction: column; } }
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  form {
    display: flex;
    flex-direction: column; } }

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

header {
  max-width: 60rem;
  text-align: center;
  margin-bottom: 6rem; }
  header h1 {
    font-size: 2.5rem; }
  header p {
    max-width: 37rem;
    margin: 2rem auto; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    header h1 {
      font-size: 1.5rem;
      width: 80%;
      margin: auto; }
    header p {
      font-size: 14.5px;
      width: 85%; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    header h1 {
      font-size: 2rem;
      width: 80%;
      margin: auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    header h1 {
      font-size: 2rem; } }

.top-illustration {
  width: 72%;
  max-width: 80rem;
  margin: auto; }
  .top-illustration img {
    width: 100%; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .top-illustration {
      width: 80%; } }

.stats-container {
  display: flex;
  text-align: center;
  width: 42rem;
  justify-content: space-between;
  margin: 5rem 0 7rem; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .stats-container {
      margin-bottom: 6rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .stats-container {
      width: 32rem; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .stats-container {
      flex-direction: column;
      width: 45%;
      margin: 6rem 0 4rem; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .stats-container {
      width: 70%; } }

.stats {
  display: flex;
  flex-direction: column; }
  .stats h1 {
    font-size: 4rem;
    font-family: "Open Sans", "Helvetica", "sans-serif"; }
  .stats img {
    align-self: flex-start;
    width: 2rem; }
  .stats p {
    opacity: 0.6; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .stats:first-child {
      margin-bottom: 5rem; } }

.features {
  display: flex;
  flex-direction: column; }

.feature-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 4rem; }
  .feature-content img {
    width: 50%;
    display: block;
    margin: 0 3rem; }
  .feature-content .feature-desc {
    margin: 0 3rem;
    display: block; }
    .feature-content .feature-desc h2 {
      margin-bottom: 1.5rem; }
    @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      .feature-content .feature-desc {
        margin: 0 2rem; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
      .feature-content .feature-desc {
        margin: 0 1rem 0 3rem; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .feature-content .feature-desc {
        margin: 0 0 0 3rem; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .feature-content {
      flex-direction: column;
      text-align: center;
      padding: 4rem 0; }
      .feature-content p {
        font-size: 14px; }
      .feature-content img {
        width: 75%;
        margin-bottom: 5rem; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature-content {
      padding: 4rem 0; }
      .feature-content p {
        font-size: 14px; }
      .feature-content img {
        margin: 0 2rem;
        width: 45%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .feature-content {
      padding: 2rem 0; }
      .feature-content img {
        margin: 0 2rem;
        width: 45%; } }

.feature.wave .feature-content {
  background: #f5faff; }
.feature.wave .wave1-top {
  height: 165px;
  background-image: url("../../images/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .feature.wave .wave1-top {
      height: 112px;
      background-image: url("../../images/bg-section-top-mobile-1.svg"); } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature.wave .wave1-top {
      width: unset; } }
.feature.wave .wave1-bottom {
  height: 139px;
  background-image: url("../../images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .feature.wave .wave1-bottom {
      height: 52px;
      background-image: url("../../images/bg-section-bottom-mobile-1.svg"); } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature.wave .wave1-bottom {
      width: unset; } }
.feature.wave .wave2-top {
  height: 156px;
  background-image: url("../../images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .feature.wave .wave2-top {
      height: 103px;
      background-image: url("../../images/bg-section-top-mobile-2.svg"); } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature.wave .wave2-top {
      width: unset; } }
.feature.wave .wave2-bottom {
  height: 139px;
  background-image: url("../../images/bg-section-bottom-desktop-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .feature.wave .wave2-bottom {
      height: 101px;
      background-image: url("../../images/bg-section-bottom-mobile-2.svg"); } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature.wave .wave2-bottom {
      width: unset; } }

.feature.nowave {
  margin: 7rem 0; }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .feature.nowave .feature-desc {
      margin: 0 3rem 0 1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .feature.nowave .feature-desc {
      margin: 0 3rem 0 0; } }
  .feature.nowave .feature-content {
    flex-direction: row; }
    @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      .feature.nowave .feature-content {
        flex-direction: column;
        padding: 4rem 0; } }

.header-bottom {
  max-width: 60rem;
  text-align: center;
  margin: 9rem 0; }
  .header-bottom p {
    max-width: 37rem;
    margin: 2rem auto; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .header-bottom {
      margin: 5rem 0 14rem; } }

footer {
  width: 100%; }
  footer a {
    color: #f5faff;
    text-decoration: none; }
    footer a:hover {
      opacity: 0.8; }

.logo-footer {
  filter: invert(1) saturate(0) brightness(2); }

.wave-footer {
  height: 158px;
  background-image: url("../../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .wave-footer {
      height: 53px;
      background-image: url("../../images/bg-footer-top-mobile.svg"); } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .wave-footer {
      width: unset; } }

.footer-content {
  background: #00252e;
  color: #f5faff;
  display: flex;
  justify-content: space-between;
  padding: 5rem 7rem 4rem; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .footer-content {
      flex-direction: column-reverse;
      padding: 2rem; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .footer-content {
      padding: 4rem 3rem 4rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .footer-content {
      padding: 4rem 3rem 4rem; } }

.footer-section .caps-subheader {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 39px;
  margin: 0; }
.footer-section p {
  margin: 2rem 0; }
.footer-section:first-child {
  width: 21rem; }
.footer-section:last-child {
  width: 30rem; }
  .footer-section:last-child p {
    width: 24rem; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .footer-section:last-child {
      width: 21rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .footer-section:last-child {
      width: 20rem;
      margin-left: 3rem; }
      .footer-section:last-child p {
        width: unset; } }
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .footer-section {
    width: unset !important; }
    .footer-section p {
      width: unset !important;
      font-size: 14px; }
    .footer-section:last-child {
      margin-bottom: 6rem; } }
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .footer-section {
    width: 16rem !important; }
    .footer-section p {
      width: unset !important;
      font-size: 14px; } }

.contact {
  display: flex;
  line-height: 2.5rem; }
  .contact img {
    margin-right: 1rem;
    object-fit: contain; }

.social-icons {
  margin-top: 3rem;
  width: 8rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem; }

.credits {
  font-size: 12px;
  background: #00252e;
  color: #eee;
  text-align: center;
  padding-bottom: 2rem; }
  .credits a {
    text-decoration: underline; }
  @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .credits {
      padding-top: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
